extends ../core/layout.pug

block content

	include ../../mixins/horizontal-form.pug

	form.form-horizontal(action=`${url}/admin/customers/save/${doc.id || ''}` method='POST')
		
		+legend('Customer edit form')
		+email-field('email', 'Email')
		+text-field('firstName', 'First name')
		+text-field('lastName', 'Last name')
		+date-field('dob', 'Birthdate')
		+select-field('gender', 'Gender', ['M', 'F'])
		+password-field('password', 'Password', true)
		+submit