extends ../../core/layout.pug

block content

	include ../../../mixins/horizontal-form.pug

	if doc._id
		h1 Editing attribute set #{doc.name}
	else
		h1 New attribute set

	+form(`${url}/admin/catalog/attributeSets/save/${doc._id || ''}`)
		+text-field('name', 'Name')
		+multiselect-field(
			'attributes',
			'Add custom attributes',
			attributes,
			true,
			false,
			'All system attributes are added by default'
		)
		
		if doc.name === 'Default'
			.alert.alert-info
				p The default attribute set cannot be modified
		else
			+submit